.wrapper {
  display: grid;
  place-content: center;
  height: 100dvh;
}

/* Section */
.section {
  border: 1px solid var(--primary-color);
  min-height: 80px;
  min-width: 300px;
  padding-inline: 2.5rem;
  padding-block: 1.5rem;
}

.section--wrapper {
  text-align: center;
}

/* Counter */
.counter,
.counter-snapshot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.counter:last-of-type {
  margin-bottom: 2rem;
}

.counter_value,
.counter-snapshot_value {
  background-color: var(--accent-color);
  min-width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-group {
  display: flex;
  align-items: center;
}

.cta-group > * {
  width: 30px;
  height: 30px;
}

.counter-snapshot:first-of-type {
  margin-top: 2rem;
}

.counter-snapshot:last-of-type {
  margin-bottom: initial;
}

.counter-snapshot_value {
  height: 30px;
  border-radius: 5px;
}

/* Buttons */
.button {
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  font: inherit;
}

.button--lg {
  min-width: 90%;
  padding: 0.4rem;
}

.button--minus {
  font-weight: bold;
  border-top-right-radius: initial;
  border-bottom-right-radius: initial;
}

.button--plus {
  font-weight: bold;
  border-top-left-radius: initial;
  border-bottom-left-radius: initial;
}